<form [formGroup]="activityform"
      class="col-xs-12">
  <h4>{{title}}</h4>
  <div class="row">
    <div class="form-group label-floating col-xs-12 col-lg-6">
      <label class="control-label">Czas {{title}} (min)</label>
      <input class="form-control"
             formControlName="time">
    </div>
    <div class="dropdown col-xs-12 col-sm-6 col-lg-3">
      <a class="btn dropdown-toggle btn-md btn-block"
         data-toggle="dropdown">
        {{periodsReadable[getFormValue('period')]}}
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li *ngFor="let type of periodTypesStringArray"
            (click)="setControlValue(periodType[type], 'period')">
          <a>
            {{periodsReadable[periodType[type]]}}
          </a>
        </li>
      </ul>
    </div>
    <div class="dropdown col-xs-12 col-sm-6 col-lg-3">
      <a class="btn dropdown-toggle btn-md btn-block"
         data-toggle="dropdown">
        {{intensitTypeReadable[getFormValue('intensity')]}}
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li *ngFor="let type of intensityTypesStringArray"
            (click)="setControlValue(intensityType[type], 'intensity')">
          <a>
            {{intensitTypeReadable[intensityType[type]]}}
          </a>
        </li>
      </ul>
    </div>
  </div>
  <button type="button"
          (click)="addActivity()"
          class="btn btn-primary btn-block">
    Dodaj aktywność
  </button>
  <ng-container *ngIf="intensityDetails?.length">
    <ul class="list-group">
      <li *ngFor="let activity of intensityDetails"
          class="list-group-item">
        {{readActivity(activity)}}
      </li>
    </ul>
  </ng-container>
</form>