<form [formGroup]="personalForm"
      novalidate>
  <h3>Dane pomiarowe:</h3>
  <div>
    <app-calculator-calories-select-sex [formControlName]="'sex'"></app-calculator-calories-select-sex>
    <app-calculator-calories-select-body-type [formControlName]="'buildType'"></app-calculator-calories-select-body-type>
  </div>
  <div class="row">
    <mat-form-field>
      <input placeholder="Wiek (lata)"
             matInput
             formControlName="age">
    </mat-form-field>
    <mat-form-field>
      <input placeholder="Waga (kg)"
             matInput
             formControlName="weigth">
    </mat-form-field>
    <mat-form-field>
      <input placeholder="Wzrost (cm)"
             matInput
             formControlName="height">
    </mat-form-field>
  </div>
</form>
