<form [formGroup]="personalForm"
      novalidate>
  <h3>Dane pomiarowe:</h3>
  <div>
    <h5>Wybierz płeć:</h5>
    <div class="radio">
      <label>
        <input class=""
               type="radio"
               name="isMen"
               [value]="true"
               formControlName="isMen">
        Mężczyzna
      </label>
    </div>
    <div class="radio">
      <label>
        <input class=""
               name="isMen"
               type="radio"
               [value]="false"
               formControlName="isMen">
        Kobieta
      </label>
    </div>
  </div>
  <div class="row">
    <div appInvalidInput class="col-xs-12 col-lg-4 form-group">
      <label class="form-control-label">Wiek (lata)</label>
      <input class="form-control"
             formControlName="age">
      <div class="invalid-feedback">Sorry, that username's taken. Try another?</div>
    </div>
    <div appInvalidInput class="col-xs-12 col-lg-4 form-group">
      <label class="form-control-label">Waga (kg)</label>
      <input class="form-control"
             formControlName="weigth">
      <div class="invalid-feedback">Sorry, that username's taken. Try another?</div>
    </div>
    <div appInvalidInput class="col-xs-12 col-lg-4 form-group">
      <label class="form-control-label">Wzrost (cm)</label>
      <input class="form-control"
             formControlName="height">
    </div>
  </div>
  <div class="btn-group">
    <button *ngFor="let type of bodyTypesStringArray"
            class="btn"
            [class.btn-outline-primary]="bodyType[getControlValue('buildType')] === type"
            [class.btn-outline-dark]="bodyType[getControlValue('buildType')] !== type"
            (click)="setControlValue('buildType', bodyType[type])">
      {{bodyTypeReadable[bodyType[type]]}}
    </button>
  </div>
</form>
