$margin: 5%;


$bottom: -40px;
$left: -35px;

:host {
  position: relative;
  //
  //&:hover {
  //  .img-wrapper-shadow {
  //    transform: rotateY(33deg);
  //  }
  //
  //  .img {
  //    transform: rotateY(-33deg) translateY(-$margin);
  //  }
  //}
}

.img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  display: inline-block;
  height: 100%;
  width: 100%;
  z-index: 1;
  transition: all 300ms;

  &-wrapper {
    perspective: 100vw;
    position:absolute;
    height: 100%;
    width: 100%;
    z-index:1;
  }

  &-wrapper-shadow {
    position: absolute;
    bottom: $bottom;
    left: $left;
    z-index: 0;
    width: 85%;
    height: 85%;
    content:'';
    transition: all 300ms;
  }

  &-dot {
    $foreground: #000;
    $background: white;

    $size: 1px;
    $gutter: 12px;

    position: absolute;
    z-index: -1;
    width: calc(100% - 4*#{$left});
    height: 120%;
    left: 2*$left;
    top: $bottom;
    background: ($foreground);
    background-image: linear-gradient(($background) ($gutter), transparent ($gutter)), linear-gradient(90deg, ($background) ($gutter), transparent ($gutter));
    background-size: calc(#{$size} + #{$gutter}) calc(#{$size} + #{$gutter});
  }
}
