<div class="container"
     id="about-me">
  <div class="about-me-header">
    <h1 class="about-me-header-main">
      <app-animate-text [value]="'Lorem Ipsum is simply dummy text of.'"></app-animate-text>
    </h1>
    <h3 class="about-me-header-sub">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    </h3>
  </div>
</div>

<app-image-with-border class="about-me-img"
                       [backgroundColor]="'#130f40'"
                       [imgName]="'home-welcome.jpg'"></app-image-with-border>

