<app-calendar-criteria-selector></app-calendar-criteria-selector>
<div class="calendar-container">
  <div *ngFor="let dayName of daysName"
       class="calendar-days-names">
    {{dayName}}
  </div>
  <div *ngFor="let day of month?.days"
       [class.calendar-today]="day.isCurrent"
       [class.calendar-selected]="day.isActive"
       [class.calendar-disabled]="day.isDisabled"
       (click)="setAsActive(day)"
       class="calendar-day">
    <span class="calendar-value">2860kcal</span>
    <!--<span class="calendar-value-subvalue"-->
    <!--[class.calendar-warning]="i%5 === 1"-->
    <!--[class.calendar-success]="i%5 === 0">-->
    <!--Some description-->
    <!--</span>-->
    <span class="calendar-day-number">{{day.name}}</span>
  </div>
</div>
