<app-calendar-criteria-selector></app-calendar-criteria-selector>
<div class="calendar-container">
  <div *ngFor="let dayName of daysName"
       class="calendar-days-names">
    {{dayName}}
  </div>
  <div *ngFor="let day of month?.days"
       [class.calendar-today]="day.isCurrent"
       [class.calendar-selected]="day.isActive"
       [class.calendar-disabled]="day.isDisabled"
       (click)="setAsActive(day)"
       class="calendar-day">
    <span class="calendar-value">
      <ng-container *ngIf="day.values && day.values.length">
         <div *ngFor="let dayValue of day.values"
              class="display-flex">
          <span class="calendar-value-color"
                [style.background]="dayValue.color"></span>
          <div class="calendar-value-text">{{dayValue.value}}</div>
        </div>
      </ng-container>
      <span *ngIf="day.description"
            class="calendar-value-subvalue">
       {{day.description}}
    </span>
    </span>
    <span class="calendar-day-number">{{day.name}}</span>
  </div>
</div>
