<app-calculator-calories-form-personal (onChange)="setUserDetails($event)"></app-calculator-calories-form-personal>
<h3>Trening:</h3>
<app-calculator-calories-form-training [title]="'Aero'"
                                       [intensityDetails]="userTrainings.aerobicTraining"
                                       (onAddIntensity)="addActivity($event, 'aerobicTraining')"></app-calculator-calories-form-training>
<app-calculator-calories-form-training [title]="'Gym'"
                                       [intensityDetails]="userTrainings.gymTraining"
                                       (onAddIntensity)="addActivity($event, 'gymTraining')"></app-calculator-calories-form-training>
<button type="submit"
        class="btn btn-info btn-block"
        (click)="setCalories()">
  Pokaz kcal!
</button>

