<mat-card class="calendar-card">
  <app-filter *ngIf="displayFilters && selectDayMode.HALF_DOUBLE === activeMode"
              class="calendar-packagefilter"
              (onActiveInput)="setOtherActiveDataSet($event)"
              [filters]="filters"
              [activeFilterName]="activeFilter"
              [isSubmitDisplayed]="false"></app-filter>
  <app-smooth-height-animation [trigger]="displayCalendar">
    <app-calendar-content *ngIf="displayCalendar"></app-calendar-content>
  </app-smooth-height-animation>
</mat-card>
