//$gapSize: 15px;
@import "../../styles/mixins";

$color-select: $color-select;
$color-border: $color-primary;

.mat-select-value-text {
  display: none !important;
}

.display-flex {
  display: flex;
  align-items: center;
}

.calendar {
  &-filter {
    &-wrapper {
      display: flex;
    }

    &-select {
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
    }

    &-input {
      border: none;
      outline: none;
      cursor: pointer;
      color: $color-select;
      font-size: 22px;
      font-weight: bold;
      position: absolute;
      top: 50%;
      background: transparent;
      z-index: 5;
      transform: translateY(-50%);

      &::placeholder {
        color: #757575;
      }
    }

    cursor: pointer;
    position: relative;
    height: 40px;
    padding: 10px;
    align-items: center;
    box-sizing: border-box;
    width: 170px;
  }

  &-card {
    //transition: ;
  }

  &-wrapper {
    overflow: hidden;
  }

  &-container {
    display: grid;
    grid-template-columns: repeat(7, calc(100% / 7));
    //grid-template-columns: repeat(7, calc(calc(100% / 7) - calc(6 * 15px / 7)));
    //grid-column-gap: $gapSize;
    grid-row-gap: 0;
    justify-items: stretch;
    align-items: stretch;
    justify-content: stretch;
  }

  &-value {
    font-size: 16px;
    position: relative;

    &-color {
      width: 10px;
      height: 5px;
      margin-right: 5px;
      background: red;
      display: inline-block;
    }

    > * {
      padding-top: 5px;
    }

    &-subvalue {
      display: flex;
      color: $color-disable;
      text-align: left;
      padding-top: 5px;
      margin-top: 5px;
      border-top: 1px solid $color-border;
    }
  }

  &-days-names {
    height: 50px;
    text-align: center;
    min-height: auto;
    line-height: 50px;
    padding: 0;
  }

  &-day {
    background: #fff;
    padding: 20px;
    position: relative;
    border-top: 1px solid $color-border;
    border-left: 1px solid $color-border;
    min-height: 100px;
    cursor: pointer;
    box-sizing: border-box;

    &:hover {
      border: 1px solid $color-select !important;
    }

    &:nth-last-child(-n+7) {
      border-bottom: 1px solid $color-border;
    }

    &:last-child {
      border-right: 1px solid $color-border;
    }

    &:nth-child(7n) {
      border-right: 1px solid $color-border;
    }

    &-number {
      position: absolute;
      top: 5px;
      left: 5px;
      color: $color-disable;
    }
  }

//  actions
  &-success {
    color: $color-success;
  }

  &-danger {
    color: $color-danger;
  }

  &-selected {
    border: 1px solid $color-select;
  }

  &-disabled {
    background: $color-disable-bg;
  }

  &-today {
    box-shadow: inset 3px 0 0 0 $color-select;
  }
}
