<mat-card>
  <mat-card-header>
    <h1>Wskaźnik podstawowej przemiany materii - BMR</h1>
  </mat-card-header>
  <div class="wrapper">
      <div class="width-100 image-wrapper"
           [style.background-image]="'url('+ './assets/calculator-calories.jpg' +')'">
      </div>
      <p>
        Vestibulum sodales, diam eget consectetur vulputate,
        urna urna varius massa, nec scelerisque mauris est in dolor.
        Etiam euismod, arcu id euismod luctus, risus velit malesuada tellus,
        eget ultricies nibh nisi id risus. Duis at molestie est.
        Vivamus feugiat suscipit turpis non aliquet. Suspendisse
        potenti. Mauris consectetur nisl ac tortor elementum, nec
        ullamcorper ipsum mattis. Phasellus eget quam at lacus congue
        pulvinar non vitae justo. Quisque ut vehicula massa, quis dictum dui.
        Integer congue ante quam, eu tincidunt neque consequat ut. Nam quis velit a
        nunc tincidunt condimentum ut nec dui. Duis at dui vel lectus vulputate auctor
        vel ut nisl. Ut suscipit vestibulum urna sed suscipit. Aliquam erat volutpat.
        Morbi nec convallis nunc.
      </p>
  </div>
</mat-card>
