/* You can add global styles to this file, and also import other style files */
.card .card-header {
    background: red;
    color: white;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

/* custom invalid styles -- defaults doesnt work */
.form-group.is-invalid .form-control {
    box-shadow: none;
}
.form-group.is-invalid.is-focused .form-control {
    background-image: linear-gradient(#f44336, #f44336), linear-gradient(#D2D2D2, #D2D2D2);
}
.form-group.is-invalid label.control-label,
.form-group.is-invalid .help-block {
    color: #f44336;
}
/* end */