<div class="welcome-wrapper">
  <div class="welcome-img"
       [style.background-image]="'url('+ './assets/'+imgName+')'">
    <div class="welcome-container">
      <div class="welcome-header">
        <h1 class="welcome-header-main">
          Hey There! <br/>
          I'm
          <span class="welcome-header-name">Adam Cekała</span>  <br/>
          Based In Gdańsk
        </h1>
      </div>
    </div>
  <app-scroller [text]="'scroll to about me :)'"
                [elementId]="'about-me'"></app-scroller>
</div>
