<form [formGroup]="activityform"
      class="col-xs-12 margin-bottom-20">
  <h4>{{title}}</h4>
  <div class="row">
    <mat-form-field>
      <input placeholder="Czas {{title}} (min)"
             matInput
             formControlName="time">
    </mat-form-field>
    <mat-form-field>
      <mat-select [placeholder]="periodsReadable[getFormValue('period')]">
        <mat-option *ngFor="let type of periodTypesStringArray"
                    [value]="periodsReadable[getFormValue('period')]">
          {{periodsReadable[periodType[type]]}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select [placeholder]="intensitTypeReadable[getFormValue('intensity')]">
        <mat-option *ngFor="let type of intensityTypesStringArray"
                    [value]="intensitTypeReadable[getFormValue('intensity')]">
          {{intensitTypeReadable[intensityType[type]]}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <button type="button"
          (click)="addActivity()"
          mat-button
          color="primary">
    Dodaj aktywność
  </button>
  <ng-container *ngIf="intensityDetails?.length">
    <ul class="list-group">
      <li *ngFor="let activity of intensityDetails"
          class="list-group-item">
        {{readActivity(activity)}}
        <i (click)="removeActivity(activity)" class="float-right material-icons">delete</i>
      </li>
    </ul>
  </ng-container>
</form>
